.artist-list {
  @include wav-list;

  li {
    position: relative;
  }
}

.artist-link {
  display: inline-block;

  // &:after {
  //   content: "->";
  //   display: inline-block;
  //   margin-left: 10px;
  //   opacity: 0;
  // }

  &:after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    opacity: 0;
    height: 14px;
    width: 26px;
    background: {
      image: url('../images/arrow-right.png');
      size: cover;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.is-active {
    color: red;

    &:after {
      opacity: 1;
    }
  }

  @include media-breakpoint-down('sm') {
    padding: 2.5vh 0;
  }
}

.artist-portrait {
  height: 50vw;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  z-index: -1;
  transform: translate(25%, -50%);

  .artist-link.is-active & {
    opacity: 1;
  }
}