.clients {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.client-list {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  font-size: $font-size-lg;
  line-height: 1.45;

  &:nth-child(2n) {
    text-align: center;
  }

  &:nth-child(3n) {
    text-align: right;
  }
}