.clients {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include media-breakpoint-up('md') {
    flex-direction: row;
  }
}

.client-list {
  @include wav-list;
  text-align: center;

  li {
    cursor: pointer;

    &.is-active {
      color: $bright-pink;
    }
  }

  @include media-breakpoint-up('md') {
    text-align: left;

    &:nth-child(1) {
      order: 1;
      text-align: center;
    }

    &:nth-child(3) {
      order: 2;
      text-align: right;
    }
  }
}

.client-banner-wrap {
  height: 120px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: $sick-blue;
  transform: translateY(-50%);
}

@keyframes banner-animation {
  0% { background-position: 0% center; }
  100% { background-position: -100% center; }
}

.client-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: {
    size: auto 120%;
    repeat: repeat-x;
    position: 0% center;
    color: $body-bg;
  }
  animation: banner-animation 5s linear infinite;
  z-index: -1;
  mix-blend-mode: screen;

  &--nike {
    background-image: url('../images/client-logos/nike.jpg');
    background-size: auto 116%;
  }
  &--adidas { background-image: url('../images/client-logos/adidas.jpg'); }
  &--red-bull { background-image: url('../images/client-logos/red-bull.jpg'); }
  &--dc-shoe-co { background-image: url('../images/client-logos/dc-shoe-co.jpg'); }
  &--monster { background-image: url('../images/client-logos/monster.jpg'); }
  &--obey {
    background-image: url('../images/client-logos/obey.jpg');
    background-size: auto 130%;
  }
  &--vans { background-image: url('../images/client-logos/vans.jpg'); }
  &--undefeated { background-image: url('../images/client-logos/undefeated.jpg'); }
  &--stance { background-image: url('../images/client-logos/stance.jpg'); }
  &--mountain-dew { background-image: url('../images/client-logos/mountain-dew.jpg'); }
  &--lagunitas-brewing { background-image: url('../images/client-logos/lagunitas-brewing.jpg'); }
  &--oakley { background-image: url('../images/client-logos/oakley.jpg'); }
  &--element { background-image: url('../images/client-logos/element.jpg'); }
  &--huf { background-image: url('../images/client-logos/huf.jpg'); }

  &--hbo { background-image: url('../images/client-logos/hbo.jpg'); }
  &--cinemax { background-image: url('../images/client-logos/cinemax.jpg'); }
  &--marmot { background-image: url('../images/client-logos/marmot.jpg'); }
  &--fox-racing { background-image: url('../images/client-logos/fox-racing.jpg'); }
  &--fitbit { background-image: url('../images/client-logos/fitbit.jpg'); }
  &--fueltv { background-image: url('../images/client-logos/fueltv.jpg'); }
  &--monster-children { background-image: url('../images/client-logos/monster-children.jpg'); }
  &--ray-ban { background-image: url('../images/client-logos/rayban.jpg'); }
  &--apple { background-image: url('../images/client-logos/apple.jpg'); }

  @include media-breakpoint-up('md') {
    animation-duration: 10s;
  }

  @include media-breakpoint-up('xl') {
    animation-duration: 20s;
  }
}