.clients {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include media-breakpoint-up('md') {
    flex-direction: row;
  }
}

.client-list {
  @include wav-list;
  text-align: center;

  li {
    cursor: pointer;

    &.is-active {
      color: $bright-red;
    }
  }

  @include media-breakpoint-up('md') {

    text-align: left;

    &:nth-child(2n) {
      text-align: center;
    }

    &:nth-child(3n) {
      text-align: right;
    }
  }
}

.client-banner-wrap {
  height: 120px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: $sick-blue;
  transform: translateY(-50%);
}

@keyframes banner-animation {
  0% { background-position: 0% center; }
  100% { background-position: -100% center; }
}

.client-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: {
    size: auto 116%;
    repeat: repeat-x;
    position: 0% center;
    color: $body-bg;
  }
  animation: banner-animation 5s linear infinite;
  z-index: -1;
  mix-blend-mode: screen;

  &--nike {
    background-image: url('../images/client-logos/nike.jpg');
  }
  &--adidas {
    background-image: url('../images/client-logos/adidas.jpg');
  }
  &--red-bull {
    background-image: url('../images/client-logos/red-bull.jpg');
    background-size: auto 120%;
  }
  &--dc-shoe-co {
    background-image: url('../images/client-logos/dc-shoe-co.jpg');
  }
  &--monster {
    background-image: url('../images/client-logos/monster.jpg');
  }  

  @include media-breakpoint-up('md') {
    animation-duration: 10s;
  }

  @include media-breakpoint-up('xl') {
    animation-duration: 20s;
  }
}