@keyframes footer-banner-animation {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

footer {
  padding: $grid-gutter-width*2 0 0;
  overflow: hidden;
  @include p2;

  a {
    @include pill-link;
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto 30px;

    @include media-breakpoint-up('sm') {
      flex-direction: row;
    }

    li {
      & + li {
        margin-top: 7px;

        @include media-breakpoint-up('sm') {
          margin-top: 0;
        }
      }
    }
  }
}

.footer-banner {
  padding: 10px 0;
  background-color: $black;
  margin-top: $grid-gutter-width * 1.5;

  @include media-breakpoint-up('md') {
    margin-top: $grid-gutter-width * 2;
    padding: 15px 0;
  }

  &:after {
    content: '';
    display: block;
    height: 50px;
    height: calc(30px + 5vw);
    width: 200%;
    background: {
      size: percentage(1/12) auto; // show the logo on the screen 6 times (12 times total since the width is 200%)
      repeat: repeat-x;
      position: 0% center;
      image: url('../images/logo-small-inverted.jpg');
    }
    animation: footer-banner-animation 15s linear infinite;

    @include media-breakpoint-up('md') {
      animation-duration: 30s;
      background-size: percentage(1/16) auto;
      background-size: calc(6.25vw) auto;
      height: 100px;
      height: calc(30px + 2vw);
    }
  }
}