@keyframes globe-rotate {
  0% { transform: rotate3d(1, 1, 1, 0deg); }
  100% { transform: rotate3d(1, 1, 1, 360deg); }
}

.globe-wrapper {
  width: 140%;
  margin: 0 auto;
  position: absolute;
  z-index: -1;

  @include media-breakpoint-up('sm') {
    max-width: 600px;
  }

  @include media-breakpoint-up('lg') {
    width: 48vw;
    max-width: 640px;
  }

  .js & {
    transform: scale(0.65);
    transition: transform 5s cubic-bezier(0.36, 0.29, 0, 1.51);
  }

  .js .globe-area.is-visible & {
    transform: scale(1);
    // transition: transform 5s cubic-bezier(0.36, 0.29, 0, 1.51)
  }  
}

.globe-fallback {
  background: {
    image: url('../images/globe.jpg');
    size: cover;
  }
  height: 0;
  width: 100%;
  padding-bottom: 102.4%;
  margin: 0 auto;
  position: relative;
  animation: globe-rotate 10s linear infinite;
}

.globe-video {
  width: 100%;
  margin: 0 auto;
}

.globe-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  padding: 100px 0 50%;

  @include media-breakpoint-up('md') {
    min-height: 80vh;
    margin-top: 100px;
    padding-bottom: 100px;
  }
}

.globe-text {
  text-align: center;
  max-width: 10.5em;
  margin: 0 auto;
  @include p0;

  @include media-breakpoint-up('md') {
    max-width: 21em;
  }
}