header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;
  right: 0;
  padding: $grid-gutter-width/2 0;

  a {
    @include pill-link;
  }

  nav {
    margin-top: 10px;
    text-align: center;

    @include media-breakpoint-up('md') {
      margin-top: 0;
      text-align: right;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 6px;
        padding: 0 3px;

        @include media-breakpoint-up('md') {
          &:first-child {
            margin-left: 0;
            padding-left: 0;
          }

          &:last-child {
            margin-right: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include media-breakpoint-up('md') {
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
  }  
}