body.music-supervision {
  .container {
    max-width: 1130px;
  }

  #closing,
  footer {
    background-color: $acid-green;
  }
}

section.sprvsn-intro {
  margin-top: 36vh;

  @include media-breakpoint-up('md') {
    margin-top: 27vh;
  }

  .sprvsn-heading {
    display: flex;
    flex-direction: column;
    margin: 30px 0 220px;
  }

  .sprvsn-sub {
    text-transform: none;
    margin-bottom: 40px;

    @include media-breakpoint-up('sm') {
      br {
        display: none;
      }
    }

    @include media-breakpoint-up('xl') {
      transform: translateX(-50px);
      margin-bottom: 90px;
    }    

    @include media-breakpoint-up('xxl') {
      transform: translateX(-125px);
      transform: translateX(-8vw);
    }
  }

  .sprvsn-publishers {
    .sprvsn-text {
      display: block;
      margin: 5px 0;
    }

    @include media-breakpoint-up('sm') {
      display: flex;
      align-items: baseline;
      
      .sprvsn-text {
        margin: 0 0 0 50px;
      }
    }
  }
}

section.sprvsn-highlight {
  margin-top: 0;
  padding: 180px 0 50px;
  background-color: $acid-green;

  @include media-breakpoint-up('md') {
    margin-top: 140px;
    padding: 140px 0;
  }

  @include media-breakpoint-up('lg') {
    margin-top: 160px;
    padding: 260px 0;
  }
}

.sprvsn-arrow {
  position: relative;
  height: 3px;
  width: 100%;
  background-color: $white;

  &:after {
    content: '';
    height: 15px;
    width: 15px;
    border: 3px solid white;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(45deg) translate(4px, 5px);
    border-width: 3px 3px 0 0;
  }
}

.sprvsn-arrow-wrap-1 {
  .sprvsn-arrow {
    position: absolute;
    width: 63vw;
    max-width: 430px;
    background: white;
    transform: translate(-75%, -27px) rotate(-45deg);
    left: 0;
    bottom: 0;
    transform-origin: right;

    &:after {
      right: auto;
      left: 0;
      border-width: 0 0 3px 3px;
    }

    @include media-breakpoint-up('sm') {
      width: 45vw;
      transform: translate(-105%, 10px) rotate(-45deg);
    }

    @include media-breakpoint-up('md') {
      width: 50vw;
    }
  }
}

.sprvsn-arrow-wrap-2 {
  flex:1;
  display: flex;
  align-items: center;
  margin-right: 60px;
  margin-right: clamp(40px, 5vw, 100px);
}

.sprvsn-text {
  text-transform: uppercase;

  &.sm {
    font-size: 18px;
    line-height: 1.2;

    @include media-breakpoint-up('md') {
      font-size: 22px;
      line-height: 1;
    }
  }

  &.smd {
    font-size: 23px;
    letter-spacing: -0.01em;

    @include media-breakpoint-up('md') {
      font-size: 28px;
      line-height: 1;
    }    
  }

  &.md {
    font-size: 30px;
    line-height: 114%;

    @include media-breakpoint-up('sm') {
      font-size: 34px;
    }

    @include media-breakpoint-up('md') {
      font-size: 55px;
    }    
  }

  &.lg {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.01em;

    @include media-breakpoint-up('sm') {
      font-size: 55px;
    }

    @include media-breakpoint-up('md') {
      font-size: 100px;
    }    
  }

  &.xl {
    font-size: 55px;
    letter-spacing: -0.01em;
    line-height: 0.95;

    &.spread {
      line-height: 1;
    }

    &.spr-spread {
      line-height: 1.15;
    }

    @include media-breakpoint-up('sm') {
      font-size: 65px;
    }

    @include media-breakpoint-up('md') {
      font-size: 80px;
    }

    @include media-breakpoint-up('lg') {
      font-size: 120px;
      line-height: 0.85;
    }     
  }
}