.tag {
  font-size: 96px;
  line-height: 105px;
  text-transform: uppercase;
  width: 1500px;
  position: relative;
}

.tag-swap {
  position: relative;
  display: inline-block;
  width: 1000px;
  text-align: right;
  
  &:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 6px;
    height: 6px;
    background-color: #111;
  }
}

.tag-image-container {
  position: absolute;
  top: -2vh;
  bottom: -39vh;
  z-index: -1;
  right: 28%;
  opacity: 0.85;
  right: 26%;
  left: 36%;
}
.tag-images {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  /* top: 0; */
  /* right: 0; */
  /* left: 0; */
  /* bottom: 0; */
    opacity: 0;
    
    &.is-active {
      opacity: 1;
    }
  }
}