.btn {
  display: inline-block;
  position: relative;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid $body-color;
  padding: 10px 80px 10px 20px;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 300ms ease;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    height: 16px;
    width: 30px;
    background: {
      image: url('../images/arrow-right.png');
      size: cover;
    }
    transform: translateY(-50%);
  }

  &:hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    box-shadow: none;
  }
}