@mixin outline-text {
  letter-spacing: -0.016em;
  font-weight: $font-weight-bold;
  color: transparent;
  text-transform: uppercase;
  text-stroke: 2.3px $black;
  -webkit-text-stroke: 2.3px $black; // 0.019em
}

@mixin outline-title {
  @include outline-text;
  font-size: 160px;
  font-size: calc(130px + 2vw);
  line-height: 0.95;

  @include media-breakpoint-down('md') {
    font-size: 90px;
    font-size: calc(50px + 6vw);
    text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;  
    line-height: 0.9;
  }
}

@mixin outline-subtitle {
  @include outline-text;
  font-size: 85px;

  @include media-breakpoint-down('md') {
    font-size: 55px;
    text-stroke-width: 1.5px;
    -webkit-text-stroke-width: 1.5px;
  }  
}

@mixin p0 {
  font-size: $p0-font-size;
  line-height: $p0-line-height;
  text-transform: uppercase;

  @include media-breakpoint-down('sm') {
    font-size: $p0-font-size * 0.85;
  }
}

@mixin p1 {
  font-size: $p1-font-size;
  line-height: $p1-line-height;
  text-transform: uppercase;
}

@mixin p2 {
  font-size: $p2-font-size;
  line-height: $p2-line-height;
  text-transform: uppercase;
}

@mixin p3 {
  font-size: $p3-font-size;
  line-height: $p3-line-height;
  text-transform: uppercase;
}

.outline-title {
  @include outline-title;
}

.outline-subtitle {
  @include outline-subtitle;
}

a.outline-subtitle {
  transition: all 150ms ease-in;

  &:hover {
    transition-timing-function: ease-out;
    color: transparent;
    text-decoration: none;
    -webkit-text-stroke-color: $bright-green;
    text-stroke-color: $bright-green;
  }
}

.p0 {
  @include p0;
}

.p1 {
  @include p1;
}

.p2 {
  @include p2;
}

.p3 {
  @include p3;
}
