.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.fs-sm {
  font-size: $font-size-sm;
}

.fs-lg {
  font-size: $font-size-lg;
}

.hide-on-mobile {
  @include media-breakpoint-down('sm') {
    display: none;
  }
}

.hide-on-desktop {
  @include media-breakpoint-up('md') {
    display: none;
  }
}