.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.fs-sm {
  font-size: $font-size-sm;
}

.fs-lg {
  font-size: $font-size-lg;
}

.hide-on-mobile {
  @include media-breakpoint-down('sm') {
    display: none !important;
  }
}

.hide-on-tablet {
  @include media-breakpoint-only('md') {
    display: none !important;
  }
}

.hide-on-desktop {
  @include media-breakpoint-up('lg') {
    display: none !important;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}