/* Update highlight blue color to our blue, do this at the top so we can override below */
.spinner2 > div,
.toast-info,
.track.new .title:after,
.composer-wrapper .composer-info li:hover,
.settings-page-button.active,
.new-setting,
.edit-trackdata-table button.save-trackdata,
.tablesorter-headerDesc,
.tablesorter-headerAsc,
li.statistics-query.active {
  background-color: #113CFA !important;
}

.track .title:hover,
.track .favorite.selected,
.track .transport li a:hover,
.track .transport li:hover a,
.track p .genre:hover,.track .tags .tagselect:hover,
.track.playing .title,.track.paused .title,
.track .playlist-list .playlist-items .playlist-wrapper-item:hover,
.switch-tracks-view-button:hover,
.link,
.suggested-wrapper .suggested-sorting .sorting-radio i.checked,
.suggested-wrapper .suggested-sorting .sorting-radio.inactive:hover,
.menu-toggle-button:hover,
body.noheader .menu-toggle-button:hover,
.side-container .close-button:hover,
.side-container li:hover,
.playlist-header-wrapper .header .info-wrapper .wrapper-right .title:hover .playlist-play-button,
.header-wrapper.subpage .composer-wrapper .composer-name .composer-name-text:hover,
.composer-wrapper .composer-name .composer-name-text:hover,
#users-table .permissions-wrapper .permissions-button.permissions-button-downloads i,
.settings-page-button.active .new-setting,
#global-dialog .edit-track-play-button i:hover,
#np-wrapper .title:hover,
#np-wrapper .link:hover,
#loading .check,
#user-toolbar .navbar-brand:hover,
.edit-trackdata-table .edit-trackdata:hover,
.edit-trackdata-table .tm-edit,
.edit-trackdata-table tr.track .title span:hover,
#np-wrapper .np-controls-wrapper .np-controls:hover {
  color: #113CFA;
}

.track .avatar:hover,
.track p .genre:hover,.track .tags .tagselect:hover,
.playlist-query-results .playlist-wrapper-item:hover,
.cover-wrapper .thumbnails ul li.active {
  border-color: #113CFA;
}
/* End blue update */

body {
  color: #000;
}

body * {
  font-family: Helvetica, "Helvetica Neue", sans-serif;
}

body.noheader {
  margin-top: 50px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.music-wrapper > .container-fluid {
/*  padding: 0;*/
}

.music-wrapper > .container-fluid > .col-sm-12 {
/*  padding: 0;*/
}

.footer-inner {
  display: flex;
  justify-content: center;
}

.track .transport .permalink, .track .transport .favorite, .side-container #signin-button {
  display: none;
}

.menu-toggle-button {
  display: none;
  left: 0;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .menu-toggle-button {
    display: block;
    color: #000 !important;
  }
}

.side-container li,
.footer-wrapper {
  color: #000 !important;
}

.side-container-wrapper {
  width: 180px;
  position: fixed;
  left: 0;
}

@media screen and (max-width: 767px) {
  .side-container-wrapper {
    border-right: 1px solid #DDD;
    background-color: #FFF;
    padding: 30px 15px;
  }
}

.side-container .close-button {
  position: absolute;
  top: 0;
  right: 10px;
}

.side-container .close-button:before {
  content: '\00d7';
  font-size: 25px;
}

.side-container .close-button .fa {
  display: none;
}

.side-container .container-item {
  padding: 0;
}

.side-container .genres {
  display: none;
}

.side-container li {
  text-transform: uppercase;
  margin-bottom: 11px;
  border-left: none !important;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .side-container li {
    font-size: 0.8em;
  }
}

.side-container li .count {
  display: none;
}

.main-container {
  right: 0;
  left: 0;
  top: 15px;
}

@media (min-width: 768px) {
  .main-container {
    left: 180px;
    top: 0;
  }
}

.search-wrapper .querytag {
  font-size: 1.4em !important;
}

.playlist-query-results .playlist-wrapper-item .playlist-top {
  border-radius: 0;
}

.playlist-query-results .playlist-wrapper-item .playlist-bottom p.title {
  font-weight: normal;
  font-size: 1em;
}

.jumboheader {
  padding: 200px 0;
  background-image: url(http://res.cloudinary.com/composerly/image/upload/w_1500,c_fill,g_center,q_80/fvicddlziprgpx7uhvol.jpg) !important;
}

.jumboheader .composer-wrapper {
  display: none;
}

.navbar-search {
  margin-bottom: 30px;
}

.navbar-search input {
  padding: 0.5em 1em 0.4em;
  border: 1px solid black !important
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar-search {
    position: absolute !important;
    top: 0;
    right: 0 !important;
    left: auto !important;    
  }
  .navbar-search input {
    width: auto;
  }
}

.small-label,
.suggested-wrapper .help-block {
  color: #000 !important;
}

.small-label {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.suggested-wrapper .suggested-sorting {
  margin: 0 0 20px;
}

.suggested-wrapper .filter-buttons {
  margin-bottom: 30px;
}

.suggested-wrapper .refine-by {
  border-radius: 0 !important;
  padding: 3px 19px 7px !important;
  margin-right: 0;
  border-bottom: 1px solid #DDD;
  text-transform: uppercase;
  font-weight: normal;

  @media screen and (max-width: 767px) {
    font-size: 12px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
}

.suggested-wrapper .refine-by.active {
  border-bottom-color: black;
  background-color: transparent !important;
}

.suggested-wrapper .refine-by.active:hover {
  background-color: transparent !important;
  color: black !important;
}

/* Tag type elements */
.suggested-wrapper .suggested .querytag,
.suggested-wrapper .suggested .durationtag,
.suggested-wrapper .suggested-alpha .querytag,
.suggested-wrapper .suggested-alpha .durationtag,
.track p .genre,
.track .tags .tagselect,
.track .playlist-list .playlist-items .playlist-wrapper-item,
.search-wrapper .query-tag-wrapper .querytag {
  border: 1px solid black !important;
  border-radius: 0;
  text-transform: uppercase;
  color: inherit;
  padding: 2px 7px;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
}

.playlist-list .playlist-wrapper-item:hover, .suggested-wrapper .refine-by.active:hover {
  color: inherit !important;
}

.suggested-wrapper .suggested .querytag .count,
.suggested-wrapper .suggested .durationtag .count,
.suggested-wrapper .suggested-alpha .querytag .count,
.suggested-wrapper .suggested-alpha .durationtag .count {
  display: none;
}

.track .playlist-list .playlist-items .playlist-wrapper-item {
  font-size: inherit;
}

.track .tagselect, .querytag, .durationtag, .durationtag i, .querytag i {
  color: black !important;
}

.playlist-query-results .playlist-wrapper-item .playlist-bottom {
  padding: 10px 0;
  text-transform: uppercase;
}

.playlist-query-results .playlist-wrapper-item .playlist-bottom p.description {
  display: none;
}

/* Playlist display */
.playlist-header-wrapper .header .info-wrapper .wrapper-left .artwork {
  border-radius: 0;
}

.playlist-header-wrapper .header .info-wrapper .wrapper-right .title {
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
}

.tracks-container {
  padding: 0;
}

.tracks-container .small-label {
  display: none;
}

.tracks-container.compact .track.playing .title,
.tracks-container.compact .track.paused .title {
  margin-bottom: 0.55em;
}

.tracks-container.compact .track.playing .title *,
.tracks-container.compact .track.paused .title * {
  font-weight: 500;
  text-transform: uppercase;
}

.track.playing .title *,
.playlist-wrapper-item {
  color: #000 !important;;
}

.tracks-container.compact .track-wrapper {
  padding-left: 0;
  padding-right: 0;
}

/* Track playlist */
.track .playlist-list {
  margin-left: 0;
}

.track .playlist-list .playlist-items .playlist-wrapper-item {
  font-size: 85%;
  background-color: transparent !important;
}

.track .track-info .composer {
  display: none;
}

.track .title {
  color: #000 !important;
}

.track.paused .title {
  color: #000 !important;
}

.track .transport li.timings,
.track .transport li.timings .current {
  font-family: inherit;
}

.footer-wrapper {
  margin-top: 3em;
}

.footer-inner {
  display: none !important;
}

/* Buttons */
.btn {
  border-width: 2px !important;
  border-radius: 0 !important;
  text-transform: uppercase !important;
}

.btn:not(.btn-social) .fa {
  display: none;
}

.btn-lg {
  font-size: 2rem !important;
  border-radius: 0 !important;
}

.btn-block + .btn-block {
  margin-top: 10px;
}

/* Player */
#np-wrapper {
  width: auto;
  left: 15px;
  right: 15px;
  background-color: white;
  color: black;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 1px solid black;
  border-bottom-width: 0;
}

@media (min-width: 768px) {
  #np-wrapper {
    left: 180px; /* Sidebar width */
  }
}

#np-wrapper .title {
  font-weight: 500;
  text-transform: uppercase;
}


/* Login screen */
#protected .page-header .composer-avatar {
  display: none !important;
}

#protected.fullpage .page-header {
  border-bottom: none;
  padding-bottom: 0;
}

#protected.fullpage .title {
  /* .p1 */
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 400;
}

#protected.fullpage p {
  font-size: 15px;
  line-height: 1.5;
}

#protected.fullpage hr {
  display: none;
}

#protected .social-buttons-wrapper {
  margin-top: 45px;
}

#protected.fullpage .col-md-6 {
  padding: 0; /* Markup should be using a row element but it isn't */
}

/* Social Buttons */
.btn-social {
  color: #000 !important;
  background-color: #FFF !important;
  border-color: #000 !important;
  padding: 10px 20px;
  font-size: 20px;
}

.btn-social>:first-child {
  display: none;
}

/* Inputs */

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 767px) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px !important;
  }
}


#global-dialog {
  pointer-events: none;
}

#global-dialog.active {
  pointer-events: auto;
}