@import "functions";
@import "variables";
@import "mixins";
@import "fonts";
@import "reboot";
@import "grid";
@import "typography";
@import "buttons";
@import "components";
@import "utilities";

.js body {
  opacity: 0;

  &.is-loaded {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.29, 0.24, 0.11, 1.11);
  }
}

section {
  position: relative;
  padding: 15vh 0;
  overflow: hidden;

  &:first-of-type {
    padding-top: 0;
  }
}

.page-header {
  max-width: 1800px;
  margin: 15vh auto 8vh;
  transform: translateX(-15px);

  @include media-breakpoint-up('md') {
    margin-bottom: 15vh;
  }
}

.section-header {
  max-width: 1800px;
  margin: 0 auto;
  margin-bottom: 80px;
  transform: translateX(-15px);

  @include media-breakpoint-up('md') {
    margin-bottom: 150px;
  }

  &--pull {
    transform: translateX(-10px);
  }
}

section.fs {
  min-height: 100vh;
}

.text-container {
  @extend .container;
  max-width: 45em;
  margin: 0 auto;

  p {
    margin-bottom: $paragraph-margin-bottom/2;
  }

  p + h6 {
    margin-top: $spacer*3;
  }
}