@import "functions";
@import "variables";
@import "mixins";
@import "fonts";
@import "reboot";
@import "grid";
@import "typography";
@import "components";
@import "utilities";

section {
  padding: 15vh 0;
}

@keyframes globe-rotate {
  0% { transform: rotate3d(1, 1, 1, 0deg); }
  50% { transform: rotate3d(1, 1, 1, 180deg); }
  100% { transform: rotate3d(1, 1, 1, 360deg); }
}

.globe {
  background: {
    image: url('../images/globe.png');
    size: cover;
  }
  height: 0;
  width: 100%;
  padding-bottom: 102.4%;
  margin: 0 auto;
  position: relative;
  animation: globe-rotate 15s linear infinite;
}